//Colors

$mainColor: hsl(204, 50%, 23%);
$secColor: hsl(104, 50%, 60%);
$bgFirstColor: hsl(212, 35%, 22%);
$bgSecColor: hsl(173, 30%, 50%);

$navBg: rgba(13, 56, 82, 0.22);
$inputBg: rgba(35, 76, 122, 0.164);
