.fiveByFive {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.sFive {
  width: 40px;
  height: 40px;
}

.sevenBySeven {
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  gap: 5px;
}

.sSeven {
  width: 30px;
  height: 30px;
}

.tenByTen {
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  gap: 5px;
}

.sTen {
  width: 20px;
  height: 20px;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: linear-gradient(60deg, #24374c 0%, #59a69d 100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

body .App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10%;
  width: 100%;
  margin-top: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .App header {
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  color: #1d4158;
  padding-right: 200px;
}

body .App main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .App main .board-container {
  width: 550px;
  height: 550px;
  border: 3px solid #1d4158;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .App main .board-container .numbers-container {
  color: #1d4158;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

body .App main .board-container .numbers-container .life {
  font-size: 25px;
}

body .App main .board-container .numbers-container .life div {
  color: #81cc66;
  display: inline-block;
  padding-left: 40px;
}

body .App main .board-container .numbers-container .timer {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 20px;
}

body .App main .board-container .numbers-container .timer div {
  color: #81cc66;
  font-size: 40px;
  text-align: right;
}

body .App main .board-container .numbers-container .score {
  font-size: 25px;
}

body .App main .board-container .numbers-container .score div {
  color: #81cc66;
  display: inline-block;
  padding-left: 10px;
}

body .App main .board-container .board {
  margin: auto;
  display: -ms-grid;
  display: grid;
}

body .App main .board-container .board .square {
  border-radius: 5px;
  border: none;
  background: #1d4158;
  -webkit-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

body .App main .board-container .board .square:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #b60d0d;
}

body .App main .board-container .board .square-target {
  border-radius: 5px;
  border: none;
  background-color: #81cc66;
  -webkit-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

body .App main .board-container .board .square-target:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #6ebe51;
}

body .App main .board-container .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
}

body .App main .board-container .buttons .start,
body .App main .board-container .buttons .reset {
  width: 120px;
  height: 50px;
  font-size: 30px;
  background: none;
  border: none;
  color: #1d4158;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

body .App main .board-container .buttons .start:hover,
body .App main .board-container .buttons .reset:hover {
  color: #81cc66;
  cursor: pointer;
}

body .App main .board-container .gameOver {
  text-align: center;
  color: #81cc66;
  font-size: 60px;
  padding-bottom: 5px;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .App nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  color: #81cc66;
  font-size: 20px;
  width: 200px;
}

body .App nav .highscores {
  text-align: center;
  background-color: rgba(13, 56, 82, 0.22);
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border: 3px solid #1d4158;
  border-radius: 10px;
  color: #1d4158;
  list-style: none;
}

body .App nav .highscores ol {
  margin-left: -20px;
  text-align: left;
  padding-top: 10px;
}

body .App nav .highscores ol li {
  padding: 5px;
  font-size: 16px;
}

body .App nav .highscores ol li .score-value {
  color: #81cc66;
  display: inline-block;
  padding-left: 10px;
}

body .App nav .options {
  color: #1d4158;
  width: 100%;
  padding: 10px;
  background-color: rgba(13, 56, 82, 0.22);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 3px solid #1d4158;
  border-radius: 10px;
  text-align: center;
}

body .App nav .options .name {
  font-size: 16px;
  color: #1d4158;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .App nav .options .name input {
  width: 70%;
  padding-left: 5px;
  color: #81cc66;
  margin-left: 5px;
  background-color: rgba(35, 76, 122, 0.164);
  border-radius: 5px;
  outline: none;
  border: none;
}

body .App nav .options .name input::-webkit-input-placeholder {
  color: #79c2a0;
}

body .App nav .options .name input:-ms-input-placeholder {
  color: #79c2a0;
}

body .App nav .options .name input::-ms-input-placeholder {
  color: #79c2a0;
}

body .App nav .options .name input::placeholder {
  color: #79c2a0;
}

body .App nav .options .timeSetup button {
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #1d4158;
  background: none;
  border: none;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .App nav .options .timeSetup button:hover {
  color: #81cc66;
  cursor: pointer;
}

body .App nav .options .timeSetup .btn-active {
  color: #81cc66;
}

body .App nav .options div {
  text-align: left;
  padding-top: 5px;
  font-size: 16px;
}

body .App nav .options .sizeButtons button {
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #1d4158;
  background: none;
  border: none;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .App nav .options .sizeButtons button:hover {
  color: #81cc66;
  cursor: pointer;
}

body .App nav .options .sizeButtons .btn-active {
  color: #81cc66;
}
/*# sourceMappingURL=Styles.css.map */