* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

body {
  background-image: linear-gradient(60deg, #15446b 0%, #76c0b7 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

body .App {
  width: 100%;
  margin-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .App header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  color: #145074;
  padding-right: 200px;
}

body .App main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .App main .board-container {
  width: 550px;
  height: 550px;
  border: 3px solid #145074;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .App main .board-container .numbers-container {
  color: #145074;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

body .App main .board-container .numbers-container .life {
  font-size: 25px;
}

body .App main .board-container .numbers-container .life div {
  color: #80e45d;
  display: inline-block;
  padding-left: 40px;
}

body .App main .board-container .numbers-container .timer {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 20px;
}

body .App main .board-container .numbers-container .timer div {
  color: #80e45d;
  font-size: 40px;
  text-align: right;
}

body .App main .board-container .numbers-container .score {
  font-size: 25px;
}

body .App main .board-container .numbers-container .score div {
  color: #80e45d;
  display: inline-block;
  padding-left: 10px;
}

body .App main .board-container .board {
  margin: auto;
  display: -ms-grid;
  display: grid;
}

body .App main .board-container .board .square {
  border-radius: 5px;
  border: none;
  background: #145074;
  -webkit-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

body .App main .board-container .board .square:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #b60d0d;
}

body .App main .board-container .board .square-target {
  border-radius: 5px;
  border: none;
  background-color: #80e45d;
  -webkit-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

body .App main .board-container .board .square-target:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #6ebe51;
}

body .App main .board-container .fiveByFive {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

body .App main .board-container .sFive {
  width: 40px;
  height: 40px;
}

body .App main .board-container .sevenBySeven {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}

body .App main .board-container .sSeven {
  width: 30px;
  height: 30px;
}

body .App main .board-container .tenByTen {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}

body .App main .board-container .sTen {
  width: 20px;
  height: 20px;
}

body .App main .board-container .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
}

body .App main .board-container .buttons .start,
body .App main .board-container .buttons .reset {
  width: 120px;
  height: 50px;
  font-size: 30px;
  background: none;
  border: none;
  color: #145074;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

body .App main .board-container .buttons .start:hover,
body .App main .board-container .buttons .reset:hover {
  color: #80e45d;
  cursor: pointer;
}

body .App main .board-container .gameOver {
  text-align: center;
  color: #80e45d;
  font-size: 60px;
  padding-bottom: 5px;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .App nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  color: #80e45d;
  font-size: 20px;
  width: 200px;
}

body .App nav .highscores {
  width: 100%;
  text-align: center;
  background-color: rgba(19, 84, 122, 0.25);
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border: 3px solid #145074;
  border-radius: 10px;
  color: #145074;
  list-style: none;
}

body .App nav .highscores ol {
  margin-left: -20px;
  text-align: left;
  padding-top: 10px;
}

body .App nav .highscores ol li {
  padding: 5px;
  font-size: 16px;
}

body .App nav .highscores ol li .score-value {
  color: #80e45d;
  display: inline-block;
  padding-left: 10px;
}

body .App nav .options {
  color: #145074;
  width: 100%;
  padding: 10px;
  background-color: rgba(19, 84, 122, 0.25);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 3px solid #145074;
  border-radius: 10px;
  text-align: center;
}

body .App nav .options .name {
  font-size: 16px;
  color: #145074;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .App nav .options .name input {
  width: 70%;
  padding-left: 5px;
  color: #80e45d;
  margin-left: 5px;
  background-color: rgba(35, 90, 122, 0.22);
  border-radius: 5px;
  outline: none;
  border: none;
}

body .App nav .options .name input::-webkit-input-placeholder {
  color: #79c2a0;
}

body .App nav .options .name input:-ms-input-placeholder {
  color: #79c2a0;
}

body .App nav .options .name input::-ms-input-placeholder {
  color: #79c2a0;
}

body .App nav .options .name input::placeholder {
  color: #79c2a0;
}

body .App nav .options .timeSetup button {
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #145074;
  background: none;
  border: none;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .App nav .options .timeSetup button:hover {
  color: #80e45d;
  cursor: pointer;
}

body .App nav .options .timeSetup .btn-active {
  color: #80e45d;
}

body .App nav .options div {
  text-align: left;
  padding-top: 5px;
  font-size: 16px;
}

body .App nav .options .sizeButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .App nav .options .sizeButtons button {
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #145074;
  background: none;
  border: none;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .App nav .options .sizeButtons button:hover {
  color: #80e45d;
  cursor: pointer;
}

body .App nav .options .sizeButtons .btn-active {
  color: #80e45d;
}
/*# sourceMappingURL=Styles.css.map */