* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

//Variables
$mainColor: #145074;
$secColor: #80e45d;

body {
  background-image: linear-gradient(60deg, #15446b 0%, #76c0b7 100%);
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .App {
    width: 100%;
    // background-color: rgb(194, 193, 193);
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    header {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 80px;
      font-weight: 700;
      color: $mainColor;
      padding-right: 200px;
    }
    main {
      display: flex;

      .board-container {
        width: 550px;
        height: 550px;
        border: 3px solid $mainColor;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .numbers-container {
          color: $mainColor;
          display: flex;
          width: 100%;
          justify-content: space-between;
          padding: 10px;
          .life {
            font-size: 25px;
            div {
              color: $secColor;
              display: inline-block;
              padding-left: 40px;
            }
          }
          .timer {
            align-self: flex-start;
            font-size: 20px;
            div {
              color: $secColor;
              font-size: 40px;
              text-align: right;
            }
          }
          .score {
            font-size: 25px;
            div {
              color: $secColor;
              display: inline-block;
              padding-left: 10px;
            }
          }
        }

        .board {
          margin: auto;
          display: grid;

          .square {
            border-radius: 5px;
            border: none;
            background: $mainColor;
            box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
            outline: none;
            &:active {
              box-shadow: none;
              background-color: rgb(182, 13, 13);
            }
          }

          .square-target {
            border-radius: 5px;
            border: none;
            background-color: $secColor;
            box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
            outline: none;
            &:active {
              box-shadow: none;
              background-color: #6ebe51;
            }
          }
        }

        //Board size variants /////////////////////////////////////////////////
        .fiveByFive {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
          gap: 10px;
        }
        .sFive {
          width: 40px;
          height: 40px;
        }

        .sevenBySeven {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          gap: 5px;
        }
        .sSeven {
          width: 30px;
          height: 30px;
        }

        .tenByTen {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          gap: 5px;
        }

        .sTen {
          width: 20px;
          height: 20px;
        }
        /////////////////////////////////////////////////////////////////////

        .buttons {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: auto;

          .start,
          .reset {
            width: 120px;
            height: 50px;
            font-size: 30px;
            background: none;
            border: none;
            color: $mainColor;
            font-weight: bold;
            transition: 0.5s;
            outline: none;

            &:hover {
              color: $secColor;
              cursor: pointer;
            }
          }
        }
        .gameOver {
          text-align: center;
          color: $secColor;
          font-size: 60px;
          padding-bottom: 5px;
          position: absolute;
          align-self: center;
        }
      }
    }
    nav {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      color: $secColor;
      font-size: 20px;
      width: 200px;

      .highscores {
        width: 100%;
        text-align: center;
        background-color: rgba(19, 84, 122, 0.25);
        margin-top: 10px;
        font-size: 20px;

        padding: 10px;
        flex: 3;
        border: 3px solid $mainColor;
        border-radius: 10px;
        color: $mainColor;
        list-style: none;
        ol {
          margin-left: -20px;
          text-align: left;
          padding-top: 10px;
          li {
            padding: 5px;
            font-size: 16px;

            .score-value {
              color: $secColor;
              display: inline-block;
              padding-left: 10px;
            }
          }
        }
      }
      .options {
        color: $mainColor;
        width: 100%;
        padding: 10px;
        background-color: rgba(19, 84, 122, 0.25);
        flex: 1;
        border: 3px solid $mainColor;
        border-radius: 10px;
        text-align: center;

        .name {
          font-size: 16px;
          color: $mainColor;
          display: flex;
          input {
            width: 70%;
            padding-left: 5px;
            color: $secColor;
            margin-left: 5px;
            background-color: rgba(35, 90, 122, 0.22);
            border-radius: 5px;
            outline: none;
            border: none;
            &::placeholder {
              color: #79c2a0;
            }
          }
        }
        div {
          text-align: left;

          padding-top: 5px;
          font-size: 16px;
        }
        .sizeButtons {
          display: flex;
          button {
            font-size: 16px;
            flex: 1;
            color: $mainColor;
            background: none;
            border: none;
            outline: none;
            transition: 0.5s;
            &:hover {
              color: $secColor;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
